<h1><%= current_user.name %></h1>
<p><%=@user.email%></p>



<div class= 'row'>

		<div class ="col-md-2">
			<h4>Your Listings</h4>
			<h4>Your Reservations</h4>
			<h4>Reservation Requirements</h4>
		

		</div>	
	</div>

<%= button_to 'Become a host', new_listing_path, method: :get, class:"btn btn-primary" %>

	<%= button_to 'Delete', listing_path(@listing), method: :delete, class:"btn btn-primary" %>

			<%= button_to 'Edit', edit_listing_path(@listing), method: :get, class:"btn btn-primary" %>
			